<div class="login-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-item">
            <input type="email" matInput  required formControlName="email">
            <mat-label>Email</mat-label>
            <mat-error>Please enter a valid email.</mat-error>

        </mat-form-field>
        <mat-form-field class="form-item">
            <input type="password" matInput required formControlName="password">
            <mat-label>Password</mat-label>
            <mat-error>Please enter your password</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" class="form-item">Login</button>
    </form>
</div>
