<mat-toolbar color="primary">
    <button mat-flat-button color="primary" routerLink="/" class="nav-button">Kanbangular</button>    
    <span class="spacer"></span>
    <button *ngIf="isAdmin" mat-flat-button color="primary" routerLink="/users" class="nav-button">Manage Users</button>
    <button *ngIf="!isLogged" mat-flat-button color="primary" routerLink="/login" class="nav-button">Login</button>
    <button *ngIf="!isLogged" mat-flat-button color="primary" routerLink="/register" class="nav-button">Register</button>
    <button *ngIf="isLogged" mat-flat-button color="primary" routerLink="/register" class="nav-button" (click)="onLogout()">Logout</button>
  </mat-toolbar>
